<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dictionary App</title>
    <link rel="stylesheet" href="styles/styles.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
  </head>
  <body style="background-color: #f0ead6">
    <div class="container">
      <header class="d-flex flex-wrap justify-content-center py-3 mb-4">
        <a
          href="/"
          class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none"
        >
          <svg class="bi me-2" width="40" height="32">
            <use xlink:href="#bootstrap"></use>
          </svg>
          <h1 style="color: #ff7f50">Dictionary</h1>
        </a>
      </header>
    </div>
    <!-- Below header -->
    <div class="container divider">
      <div class="container text-center border w-50 word">
        <h2><%= word %></h2>
        <% definition.forEach(meaning => { %>
        <p>
          <%= meaning.partOfSpeech %>, <%= meaning.definitions[0].definition %>
        </p>
        <% }) %> <% if (locals.origin) { %>
        <p><%= origin %></p>
        <% } %>
      </div>
      <form
        class="container justify-content-center text-center align-items-center py-5"
        action="/get-definition"
        method="post"
      >
        <div class="searchField">
          <img src="images/magnifying.png" class="magnifying" />
          <h2>Search a word</h2>
        </div>
        <div class="m-auto py-3 typeAnswer">
          <input
            type="text"
            name="word"
            class="inline form-control"
            placeholder="Search: "
          />
        </div>
      </form>
    </div>
    <div class="container text-center footerFinal">
      <p class="lead mb-4 text-center">
        © Dictionary app
        <a href="mailto:sergeh96@gmail.com" class="text-reset">Serge Huleani</a>
      </p>
      <p class="d-inline p-2">
        <a
          href="https://github.com/skudz96"
          class="link-body-emphasis link-offset-2 link-underline-opacity-25 link-underline-opacity-75-hover"
          >Github</a
        >
      </p>
    </div>
  </body>
</html>
